*-debug.log
*-error.log
.DS_Store
.idea
/.nyc_output
/dist
/dist/
/lib
/node_modules/
/tmp
/yarn.lock
/assets/examples/**
!assets/examples/default-example.yaml
!assets/examples/tutorial.yml'
!assets/examples/default-example.json
node_modules
/test/integration/generate/models/
test.asyncapi-cli
asyncapi.json
test/fixtures/minimaltemplate/__transpiled
test/fixtures/newtemplate/__transpiled
test/fixtures/specification-conv.yml
test/fixtures/specification-conv.yaml
test/fixtures/specification-conv.json
.vscode
src/domains/models/generate/ClientLanguages.ts

/action/
/github-action/output/

oclif.manifest.json
spec-examples.zip

# Coverage for testing

coverage
.asyncapi-analytics

# Analytics

.asyncapi-analytics

# Glee
assets/create-glee-app/templates/default/.glee
assets/create-glee-app/templates/tutorial/.glee
assets/create-glee-app/templates/default/docs
assets/create-glee-app/templates/tutorial/docs

# Modelina
test/fixtures/generate/models
