*-debug.log
*-error.log
.DS_Store
.idea
/.nyc_output
/dist
/dist/
/lib
/node_modules/
/tmp
/yarn.lock
/assets/examples/**
!assets/examples/default-example.yaml
node_modules

asyncapi.json
asyncapi.yaml
asyncapi.yml

spec-examples.zip