*-debug.log
*-error.log
.DS_Store
.idea
/.nyc_output
/dist
/dist/
/lib
/node_modules/
/tmp
/yarn.lock
/assets/examples/**
!assets/examples/default-example.yaml
!assets/examples/tutorial.yml
node_modules
/test/commands/generate/models/
asyncapi.json
asyncapi.yaml
asyncapi.yml
test/minimaltemplate/__transpiled


spec-examples.zip