name: Release Docker Image
on:
  release:
    types:
      - published

jobs:
  publish-docker:
    name: Generating Docker
    runs-on: ubuntu-latest
    steps:
      - name: Get version without v character
        id: version
        env:
          TAG_NAME: ${{ github.event.release.tag_name }}
        run: |
          VERSION_WITHOUT_V=${TAG_NAME:1}
          echo "value=${VERSION_WITHOUT_V}" >> $GITHUB_OUTPUT

      - name : Checkout repository
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.release.tag_name }}

      - name: Set Up QEMU
        uses: docker/setup-qemu-action@68827325e0b33c7199eb31dd4e31fbe9023e06e3 # v3.0.0

      - name: Set Up Docker Buildx
        uses: docker/setup-buildx-action@d70bba72b1f3fd22344832f00baa16ece964efeb # v3.3.0

      - name: login to Docker Hub
        uses: docker/login-action@e92390c5fb421da1463c202d546fed0ec5c39f20 # v3.1.0
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build Image
        uses: docker/build-push-action@2cdde995de11925a030ce8070c3d77a52ffcf1c0 # v5.3.0
        with:
          push: true
          load: false
          build-args: |
            ASYNCAPI_CLI_VERSION=${{ steps.version.outputs.value }}
          tags: |
            asyncapi/cli:${{ steps.version.outputs.value }}
            asyncapi/cli:latest
          platforms: linux/amd64,linux/arm64
          cache-from: type=gha
          cache-to: type=gha

      - name:  Sync README.md and Description to Docker Hub
        uses: actions/checkout@v4

      - uses: meeDamian/sync-readme@82715041300710d9be7c726c9d6c683b70451087 # v1.0.6
        with:
          user: ${{ secrets.DOCKER_USERNAME }}
          pass: ${{ secrets.DOCKER_PASSWORD }}
          slug: asyncapi/cli
          description: CLI to work with your AsyncAPI files

  publish-action-docker:
    name: Release github action for cli and update version in action.yml
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
        with:
          ref: ${{ github.event.release.tag_name }}

      - name: Get version without v character
        id: version
        env:
          TAG_NAME: ${{ github.event.release.tag_name }}
        run: |
          VERSION_WITHOUT_V=${TAG_NAME:1}
          echo "value=${VERSION_WITHOUT_V}" >> $GITHUB_OUTPUT

      - name: Set Up QEMU
        uses: docker/setup-qemu-action@68827325e0b33c7199eb31dd4e31fbe9023e06e3 # v3.0.0

      - name: Set Up Docker Buildx
        uses: docker/setup-buildx-action@d70bba72b1f3fd22344832f00baa16ece964efeb # v3.3.0

      - name: Login to Docker Hub
        uses: docker/login-action@e92390c5fb421da1463c202d546fed0ec5c39f20 # v3.1.0
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push
        uses: docker/build-push-action@2cdde995de11925a030ce8070c3d77a52ffcf1c0 # v5.3.0
        with:
          context: .
          file: ./github-action/Dockerfile
          push: true
          tags: |
            asyncapi/github-action-for-cli:${{ steps.version.outputs.value }}
            asyncapi/github-action-for-cli:latest
          platforms: linux/amd64,linux/arm64

      - name: Change directory to github-action
        run: |
          cd github-action/
          ls -la

      - uses: meeDamian/sync-readme@82715041300710d9be7c726c9d6c683b70451087 # v1.0.6
        with:
          user: ${{ secrets.DOCKER_USERNAME }}
          pass: ${{ secrets.DOCKER_PASSWORD }}
          slug: asyncapi/github-action-for-cli
          description: Github action for AsyncAPI CLI

