name: Upload custom assets to GitHub release

on:
  release:
    types:
      - published

jobs:
  upload-assets:
    name: Generate and upload assets
    runs-on: ${{ matrix.os }}
    continue-on-error: true
    strategy:
      matrix:
        include:
          - os: ubuntu-latest
            npm_script: pack:linux
            dist_folder: deb
            extension: deb
          - os: ubuntu-latest
            npm_script: pack:tarballs
            dist_folder: tar
            extension: tar.gz
          - os: ubuntu-latest
            npm_script: pack:tarballs:alpine
            dist_folder: tar
            extension: alpine.tar.gz
            container: 'node:20-alpine'
            alpine: true
          - os: ubuntu-latest
            npm_script: pack:windows
            dist_folder: win32
            extension: x64.exe
          - os: ubuntu-latest
            npm_script: pack:windows
            dist_folder: win32
            extension: x86.exe
          - os: macos-latest
            npm_script: pack:macos
            dist_folder: macos
            extension: arm64.pkg
          - os: macos-latest
            npm_script: pack:macos
            dist_folder: macos
            extension: x64.pkg
    
    container: ${{ matrix.container }}
    
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      
      - name: Check package-lock version
        uses: asyncapi/.github/.github/actions/get-node-version-from-package-lock@master
        id: lockversion
      
      - name: Setup Node.js
        if: matrix.container == ''
        uses: actions/setup-node@v4
        with:
          node-version: "${{ steps.lockversion.outputs.version }}"
      
      - name: Install dependencies in Alpine
        if: matrix.container == 'node:20-alpine'
        run: |
          apk add --no-cache git python3 make g++
      
      - if: matrix.npm_script == 'pack:windows'
        name: install nodejs for windows
        uses: actions/setup-node@v4
        with:
          node-version: 20
      
      - name: Get version from package.json
        uses: actions/github-script@v6
        id: extractver
        with:
          script: |
            const packageJson = require('./package.json');
            const packageJsonVersion = packageJson.version;
            core.setOutput('version', packageJsonVersion);
      - if: matrix.npm_script == 'pack:windows'
        #fix for windows build issue #1433
        name: Install p7zip-full nsis
        run: sudo apt-get install -y p7zip-full nsis

      - if: matrix.npm_script == 'pack:windows'
        #npm cli 10 is buggy because of some cache issue
        name: Install npm cli 10
        shell: bash
        run: npm install -g npm@latest
      - name: Install dependencies
        run: CI=true npm ci
      - name: Build project
        shell: bash
        run: npm run prepublishOnly
      - name: Assets generation
        shell: bash
        run: |
          npm run ${{ matrix.npm_script }}
          if [[ "${{ matrix.alpine }}" == "true" ]]; then
            npm run pack:rename alpine
          else
            npm run pack:rename
          fi
      
      - name: Update release
        uses: softprops/action-gh-release@v1
        with:
          files: dist/${{ matrix.dist_folder }}/asyncapi.${{ matrix.extension }}
          tag_name: v${{ steps.extractver.outputs.version }}
          token: ${{ secrets.GH_TOKEN }}
      - if: failure() # Only, on failure, send a message on the 94_bot-failing-ci slack channel
        name: Report workflow run status to Slack
        uses: 8398a7/action-slack@fbd6aa58ba854a740e11a35d0df80cb5d12101d8 #using https://github.com/8398a7/action-slack/releases/tag/v3.15.1
        with:
          status: ${{ job.status }}
          fields: repo,action,workflow
          text: 'AsyncAPI CLI release build artifacts failed'
        env:
          SLACK_WEBHOOK_URL: ${{ secrets.SLACK_CI_FAIL_NOTIFY }}